doctype html
html
  head
    title Informatics Social Network
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/w3-theme-blue-grey.css')
    link(rel='stylesheet', href='/stylesheets/fonts-google-apiscss.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    script(src='/javascripts/perfil.js')
    script(src='/javascripts/type.js')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/form-ficheiros.js')
    
    style.
      html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
  body.w3-theme-15
    block content